<%- include('partials/header3.ejs') %>
<style>
  table, th,td{
    text-align:center;
    border: 1px solid #f9f9f9;;
  }
</style>
<h3 style="margin-top:2.5em; text-align:center; color:#ffffdd;"><u><i>SUBSCRIBERS</i></u></h3>
<table style="margin:1em 3.5em;text-align:center;color:#ffffff;width:90%;">
  <thead>
    <td>NAME</td>
    <td>EMAIL</td>
    <td>TOPIC</td>
    </thead>
<% subscribers.forEach((subscriber)=>{ %>
  <tr>
    <td><%=subscriber.name%></td>
    <td><%=subscriber.email%></td>
    <td><%=subscriber.topic%></td>
  </tr>
<% }); %>
</table>
<%- include('partials/footer.ejs') %>
